//Primary Color
$color-Mine-Shaft: #3F3F3F;

//Other Colors
$color-Congress-Blue: #083D8C;
$color-White: #FFFFFF;
$color-Mariner: #216DDF;
$color-Silver :#B9B9B9;
$color-Dusty-Gray: #979797;
$color-Portage: #81ACED;
$color-Wild-Sand: #F6F6F6;
$color-Alto: #D8D8D8;
$color-Gallery: #ECECEC;
$color-White-2:#FEFEFE;
$color-Robins-Egg-Blue: #02C7C6;
$color-Silver-2: #BEBEBE;
$color-Pigeon-Post: #A0B5D5;
$color-Pacific-Blue: #0AB5B3;
$color-Endeavour: #01529E;
$color-Dove-Gray: #616161;